<h1>Digital Footprint</h1>

<div>
  <h2 class = "pagination-centered">
	  <%= link_to "Linkedin", "www.linkedin.com/in/carloscheung", :class => "linkmargin" %> 
	  <%= link_to "Twitter", "https://twitter.com/CarloskCheung", :class => "linkmargin" %>     
	  <%= link_to "Facebook", "https://www.facebook.com/cheungcarlos", :class => "linkmargin" %>    
	  <%= link_to "Instagram", "http://instagram.com/carloskcheung/", :class => "linkmargin" %>    
	  <%= link_to "GitHub", "github.com/carloskcheung", :class => "linkmargin" %>
	</h2>
</div>


<div>
    <iframe height="517" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://cc653.wufoo.com/embed/q7x2x3/"><a href="http://cc653.wufoo.com/forms/q7x2x3/">Fill out my Wufoo form!</a></iframe>
</div>